{% extends 'catalog/base.html' %}

{% block tittle %}
<div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Посты</h1>
    <p class="lead text-body-secondary">Здесь располагаются ваши посты</p>
    <p><a href="{% url 'blog:blog_create' %}" class="btn btn-primary my-2">Создать пост</a></p>
</div>
{% endblock %}


{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> {% for blog in blogs %}
            <div class="col">
                <div class="card shadow-sm">
                {% if blog.preview %}
                    <img src="{{ blog.preview.url }}" alt="Blog Preview">
                {% else %}
                    <img src="/static/default-image.jpg" alt="Default Image">
                {% endif %}
                    <div class="card-body"><p class="card-text h5" style="text-align: center">{{ blog.title }}</p>
                        <p class="card-text">Содержание: {{ blog.content|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group"><a class="btn btn-primary"
                                                      href="{% url 'blog:blog_detail' blog.pk %}"
                                                      role="button">Посмотреть</a>
                            <a class="btn btn-primary"
                                                      href="{% url 'blog:blog_update' blog.pk %}"
                                                      role="button">Редактировать</a></div>

                            <div class="container">
                                <small class="text-body-secondary">Просмотров: {{ blog.number_of_views }}</small>
                            </div>

                            </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}